$primaryColor: #4833cc !default;
$primaryDarkColor: #3927b1 !default;
$primaryDarkerColor: rgb(37, 28, 129) !default;
$primaryTextColor: #ffffff !default;

$highlightBg: #EEF2FF !default;
$highlightTextColor: $primaryDarkerColor !default;
$highlightFocusBg: #E0E7FF !default;

@import '../_variables';
@import './_fonts';
@import '../../../../theme-base/_components';
@import '../extensions/_extensions';
