@import '@unocss/reset/tailwind.css';

html {
  scroll-behavior: smooth;
}
* {
  font-family: 'Cairo', sans-serif;
}
/* html,
body,
:root {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  text-decoration: none;
  list-style: none;
} */
body {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

/* a {
  text-decoration: none;
}

label {
  cursor: pointer;
} */
